<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-list *ngFor="let item of items">
    <ion-item>
      <p>{{item.name}}</p>
    </ion-item>
  </ion-list>
  <ion-button (click)="kosongkan()" expand="block" color="danger">KOSONGKAN</ion-button>
  <ion-button (click)="beli()" fill="outline" expand="block">PEMBELIAN</ion-button>
</ion-content>
